html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 100%;
  font-family: 'Amatic SC', cursive;
  color: #fff;
}

.wrapper{
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.frame {
  padding: .5rem;
  background-color: rgba(0,0,0,.15);
}

.top {
  padding: 0 .75em 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  svg {
    height: 1em;
    path {
      fill: #fff;
    }
  }
}

.row{
  display: flex;
  .col {
    flex-grow: 1;
    text-align: center;
    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: 100%;
      background-color: transparent;
    }
  }
}

$colors: (
  yellow: #cfcf77,
  green: #6db66d,
  blue: #62cbcb,
  violet: #6d6dca,
  pink: #bc80bc,
  red:  #c06262
);

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
  }
}

.modal-window {
  font: 600 18px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: black;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.3s;
  text-align: center;
  &>div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #6db66d
  }
  header {
    font-weight: bold;
  }
  h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
